<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My favorite Actor</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Tom Hardy</h1>
    <p>British Actor</p>
    <nav>
      <ul>
        <li><a class="home" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photogallery">Photo Gallery</a></li>
      </ul>
    </nav>

    <h1>About Him:</h1>

    <p>
        Tom Hardy, in full Edward Thomas Hardy, (born September 15, 1977, London,
        England), British actor who was known for his striking good looks,
        idiosyncratic personality, and cerebral performances in both cult films
        and mainstream blockbusters.
    </p>
    <p>
        Hardy’s childhood and early adulthood gave little indication that he would
        one day become a movie star. He was expelled from school, was arrested for
        joyriding while in possession of a gun, and became addicted to drugs and
        alcohol while still a teenager. In 1998 he won a televised modeling
        competition, which led to an industry contract. He began his acting
        studies at Drama Centre London but was again expelled. Nevertheless, in
        2001 he earned small roles in the television miniseries Band of Brothers
        and in the film Black Hawk Down. Hardy’s career failed to truly take off,
        however, until after he entered a drug rehabilitation program in 2003
        following a crack-induced collapse on a London street.
    </p>
    <div class="banner">
      <img
        class="abtimg"
        src="images/img1.jpg"
        alt=""
        width="200px"
        height="200px"
      />
    </div>
</body>
</html>
