<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My favorite Actor</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome, Youre Invited to Know who is my favorite Actor</h1>
    <p>Written by: Emmanuel Solis</p>
    <ul>
        <li><a class="home" href="./home.html">Home</a></li>
        <li><a href="./About.html">About</a></li>
        <li><a href="./photo-gallery.html">Photo Gallery</a></li>
        <li><a href="./works.html">Works</a></li>
      </ul>
      <img  class="responsive" src="https://images.chicmagazine.com.mx/w8s9yL3xomIbohzPxEE4x3YLPYs=/936x566/uploads/media/2020/09/15/charlotte-riley-esposa-tom-hardy.jpg" alt="" srcset="">
</body>
</html>